/*
color primario
#b35819
*/
.varietyTitle {
	padding: 50px 0px 50px 50px;
}

.cardsContainer {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	justify-content: center;
}

.card {
	height: 400px;
	background-color: #b35819;
	margin: 10px;
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cardImg {
	height: 250px;
	width: 100%;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
}

.cardTitle {
	font-size: 1.625rem;
	color: #fff;
	margin-left: 0.9375rem;
	margin-top: 0px;
	margin-bottom: 0px;
}

.cardSubtitle {
	margin-left: 0.9375rem;
	margin-top: 0px;
	color: #2e2e2e;
	max-width: 85%;
}

.cardButton {
	height: 60px;
	width: 140px;
	background-color: #fff;
	color: #b35819;
	border-radius: 20px;
	align-self: flex-end;
	margin: 0px 20px 20px 0px;
	font-weight: bold;
	outline: none;
	border: none;
	cursor: pointer;
	transition: all 0.5s;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cardButton:hover {
	border: 1px solid #b35819;
	height: 65px;
}

.cardBodyContainer {
	display: flex;
	justify-content: space-between;
}
